.root {
  //display: flex;
  //align-items: center;
  //align-self: stretch;
  padding: 12px var(--Gap-Small, 24px);
  justify-content: center;
  margin: 24px;

  border-radius: 8px;
  border: 0.5px solid var(--turquoise-60);
  background: var(--turquoise-25);

  color: var(--Neutral-90, #edeff7);
  font-family: var(--font-ppneuemontreal);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.28px;
}

.link {
  color: var(--turquoise-60);
  font-family: var(--font-ppneuemontreal);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.28px;
  text-decoration-line: underline;
}

.highlight {
  color: var(--turquoise-60);
  font-family: var(--font-ppneuemontreal);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.28px;
}

@media (max-width: 768px) {
  .root {
    margin: 16px 0 0;
  }
}


.green {
  color: var(--turquoise-60);
}